.header2 {
    background-image: url("../imagenes/Photos/Recurso\ 10.png");
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
   
    .contenedor2 {
        padding: 0 3rem 0 0;

        @include movil {
            padding: 0;
        }
    }

    .nav{
        display: block;
        padding-top: 2rem;
        text-align: right;
        
        @include movil {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1.5rem;
        }
    }
   .navegacion__enlace {
        font-size: 1.5rem;
        font-family: $fuentePrincipal;
        padding: 0 1.5rem;
        
        @include movil{
            line-height: 2;  
        }
    }
   

    &__texto {
        text-align: center;
        padding-top: 5rem;
        
        p {
            font-size: 2rem;
            font-weight: 700;
            color: $blanco;
        }

        @include movil {
            padding-top: 2rem;
                        
            p {
                font-size: 1.5rem;
                
            }
        }
        

     
    }
    .logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
     
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: $verde;
} 
