.card-body {

    .card-text  {
        p {
            text-align: justify;
        }
    }

        h3 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-weight: $bold;
        }

}
.col-md-12 {
    .formulario__campo {
        border: 0.5rem solid $amarillo;
        background-color: $amarillo;
        color: $blanco;
        font-size: 1rem;
        font-family: $fuentePrincipal;
        padding: 0.5rem;
        font-weight: $bold; 
        width: 100%;  
    }
}

.col-md-9 {
    .botton {
        width: 100%;
        @include tablet {
            width: 100%;
        }
    }
}