// Fonts
$fuentePrincipal: 'PT Sans', sans-serif;
$fuenteSecundaria: 'Lobster Two', cursive;

//Colores

$verde: #55897D;
$amarillo: #F5B16D;
$blanco: #FFF;
$negro: #000;
$chocolate: #D2691E;
$azul: #0000FF;

//Fuentes

$regular: 400;
$bold: 700;

// Media Queries

$movil: 480px;
$tablet: 768px;

